.choose {
  background-image: linear-gradient(
    180deg,
    rgba(74, 144, 245, 0.21) -34.7%,
    rgba(125, 186, 244, 0.063) 100%,
    rgba(125, 186, 244, 0.1295) 100%
  );
}
.product:hover {
  background-color: #2b84ea;
  color: white;
  font-weight: bold;
  transition: all;
  transition-duration: 100;
}
.box {
  box-shadow: 2px 4px 9px 1px hsla(0, 0%, 0%, 0.05);
}
.corefeature {
  background-size: 2000px 100%;
  padding-top: 15rem;
  padding-bottom: 15rem;
}
.companieslist {
  animation: 10s infinite linear moveCompany;
}
@keyframes moveCompany {
  0% {
    top: 0;
  }

  100% {
    top: -50%;
  }
}
